<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/logo.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" async>
    <title>Mager</title>
</head>
<body>

<a tabindex="1" href="#main__content" class="skip-link"">Skip To Content</a>
<app-bar></app-bar>

   
<main >
    <section id="content">
        
    </section>
</main>
<footer class="copyright" >
    <div >
        Copyright &#169; 2021 - Mager App
    </div>
</footer>
</body>
</html>
