<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Mager Website Daftar Restaurant ">
    <link rel="icon" href="images/logo.png">
    <link rel="apple-touch-icon" href="images/logo.webp">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Quicksand:wght@400;500;600;700&display=swap" rel="stylesheet">
    <title>Mager</title>
</head>
<body>

<a tabindex="0" href="#main__content" class="skip-link"">Skip To Content</a>
<app-bar></app-bar>

   
<main >
    <section id="content">
        
    </section>
</main>
<footer class="copyright" >
    <div >
        Copyright &#169; 2021 - Mager App
    </div>
</footer>
</body>
</html>
