.nav__color{
   width: 100%;
   background-color: #2d2d2d;
   height: 210px;
   position:absolute;
   top: 0;
   z-index: -1; 
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
}
.detail__grid{
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr ;
    gap: 20px;
}

.detail__img img{
    max-width: 600px;
    width: 100%;
    height: auto;
    border: solid 1px #fafafa;
    box-shadow: 0 5px 10px #777;
    border-radius: 30px;
    background-color: lightgray;
}

.detail__text .detail__name{
    font-weight: 400;
    font-size: 50px;
    color: #2d2d2d;

}

.detail__text .detail__rating{
    margin-top: 5px;
    font-weight: 400;
    font-size: 20px;
    color: #2d2d2d;


}

.detail__text .detail__description{
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    color: #363636;
    text-align: justify;
}

.detail__text .detail__address{
    margin-top: 20px;
}

.square{
    padding: 8px;
    border: 1px solid #e7e2e2;
    font-size: 13px;
    line-height: 13px;
    display: inline-block;
    margin: 5px 10px;
    margin-left: 0px;
    border-radius: 3px;
    color: #363636;
}

  
.tabs {
	display: flex;
    flex-wrap: wrap; 
}

.tabs label {
  order: 1; 
  display: inline-block;
  padding: 15px 15px 25px;
  border: 1px solid transparent;
  border-bottom: 0;
  position: relative;
  cursor: pointer;
  font-weight: 600;
  transition: background ease 0.2s;
  text-align: center;
}

.tabs .tab {
  order: 99; 
  flex-grow: 1;
  width: 100%;
  display: none;
  padding: 1rem;
  background: #fff;
  padding: 30px 0;
  border-top: 1px solid #ccc;
  
}

.tabs input[type="radio"] {
	display: none;
}
.tabs input[type="radio"]:checked + label {
  border-color: #ccc;
  border-bottom: 1px solid #fff;
  margin-bottom: -1px;
}

.tabs input[type="radio"]:checked + label + .tab {
	display: block;
}

.user__review{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    
    gap: 10px;
    margin-top: 20px;
}

.user__name p{
    padding-top: 20px;
}

.detail__menu{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 30px;
    color: #ffffff;
    
}

.detail__menu .card__menu{
    box-shadow:0 2px 7px rgba(0, 0, 0, 0.6), 0 0 20px rgba(0, 0, 0, 0.3); 
    border-radius: 20px;   
}

.detail__menu h1{
    text-align: center;
    margin-top: 20px;
    
}

.detail__menu .card__text {
    color: #ffffff;
    font-weight: bolder;
    
}

.detail__menu ul li {
    list-style: none;
}

.detail__menu li::before{
  content: "\2022";
  color: white;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
   padding-left: 40px;
}


.foods{
    background-color:darkslategray;
    
}

.drinks{
    background-color:darkslategray;
}

.comment{
    background-color:darkslategray;
    height: 410px; 
}

.input__input{
     width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}



.btn__favorite{
    border: none;
    position: fixed;
    width: 56px;
    height: 56px;
    padding: 0;
    border-radius: 50%;
    background-color: #F44336;
    bottom: 45px;
    right: 20px;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

.btn__favorite i{
  margin-top: 4px;
}

.card_skeleton_loader_detail_img{
  width: 100%;
  display: relative;
  height: 480px;
  cursor: progress; 
  background: 
    linear-gradient(0.25turn, transparent, #fff, transparent),
   
    linear-gradient(#eee, #eee);  
  background-repeat: no-repeat;
  background-size: 100% 100%, 100% 100%; 
  background-position: -315px 0, 0 0;
  animation: iloading 1.5s infinite;
  
}

@keyframes iloading {  
  to {
    background-position: 315px 0, 0 0;
  }
}

.card_skeleton_loader_detail_description{
  width: 100%;
  display: relative;
  height: 480px;
  cursor: progress; 
  background: 
    linear-gradient(0.25turn, transparent, #fff, transparent),
    linear-gradient(0.25turn, transparent, #fff, transparent),
    linear-gradient(0.25turn, transparent, #fff, transparent),
    linear-gradient(#eee, #eee), 
    linear-gradient(#eee, #eee),
    linear-gradient(#eee, #eee), 
    linear-gradient(#eee, #eee),
    linear-gradient(#eee, #eee),
    linear-gradient(#eee, #eee),
    linear-gradient(#eee, #eee),
    linear-gradient(#eee, #eee),
    linear-gradient(#eee, #eee);  
  background-repeat: no-repeat;
  background-size: 10% 9%, 
                   10% 8%,
                   100% 100%,
                   40% 9%,
                   40% 8%, 
                   35% 5%,
                   35% 5%,
                   100% 3%,
                   100% 3%,
                   100% 3%,
                   100% 3%,
                   100% 3%;
  background-position: -34% 0,
                       -34% 60px, 
                       -315px 120px, 
                        0 0,
                        0 60px,
                        0 120px,
                        0 160px,
                        0 200px,
                        0 240px,
                        0 280px,
                        0 320px,
                        0 360px;
  animation: dloading 1.5s infinite;
  
}

@keyframes dloading {  
  to {
    background-position: 34% 0,
                         34% 60px,
                         315px 120px, 
                         0 0,
                         0 60px,
                         0 120px,
                         0 160px,
                         0 200px,
                         0 240px,
                         0 280px,
                         0 320px,
                         0 360px;
                         
  }
}